@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
  }
  
  .react-calendar__tile {
    color: #2d3748; /* Este es el color 'gray-800' en Tailwind */
  }
  
  .react-calendar__tile--now {
    background: #cbd5e0; /* Este es el color 'gray-300' en Tailwind */
  }
  
  .react-calendar__tile--active {
    background: #a0aec0; /* Este es el color 'gray-400' en Tailwind */
    color: white;
  }
  
  .react-calendar__navigation {
    background: #edf2f7; /* Este es el color 'gray-200' en Tailwind */
  }
  
  .react-calendar__navigation button {
    background: #e2e8f0; /* Este es el color 'gray-300' en Tailwind */
  }
  
  .react-calendar__month-view__weekdays__weekday {
    color: #4a5568; /* Este es el color 'gray-600' en Tailwind */
  }
  